<!DOCTYPE html>
<!-- 前台公用模板 -->
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <title>百度新闻</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <%- body %>
        <footer>
            <a href=""><span>意见反馈</span></a>
            <a href=""><span>应用推荐</span></a>
            <a href=""><span>客户端</span></a>
        </footer>
    </div>
    <script src="/javascripts/index.js" type="text/javascript"></script>
</body>
</html>