* {
  cursor: default;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #EFEFEF;
}

a {
  color: #333;
  cursor: pointer;
}

header {
  background-color: #3360A3;
  color: #FFF;
  padding: 15px 0 10px;
  box-shadow: 0 3px 5px #888;
}
header > * {
  font-size: 22px;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: 1px 1px 5px #FFF;
  line-height: 1.2em;
}
header sub {
  text-shadow: none;
  font-size: 12px;
  margin-left: 5px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
@media only screen and (min-width: 500px) {
  .main {
    width: 100%;
    float: left;
  }
  .main .inner {
    margin-left: 220px;
  }
}
.main h2 {
  font-size: 30px;
  border-bottom: 1px solid #949494;
  margin: 20px 0 0px;
}
.main figure {
  padding: 10px;
  border-bottom: 1px dotted #bcbcbc;
  transition: all 0.2s ease;
}
.main figure:last-child {
  border: none;
}
.main figure:hover {
  background-color: #fafafa;
}
.main figure figcaption {
  font-size: 18px;
  display: inline-block;
}
.main figure p {
  line-height: 1.5em;
  margin: 2px 0 5px;
}
.main figure span {
  color: #3360A3;
  font-weight: bold;
}
.main figure em {
  color: #F50;
  font-style: normal;
  font-weight: bold;
}
.main figure pre {
  background-color: #333;
  color: #FFF;
  width: 80%;
  padding: 5px 0 5px 10px;
}
@media only screen and (max-width: 500px) {
  .main figure pre {
    width: 100%;
  }
}
aside {
  width: 200px;
  float: left;
  margin-left: -100%;
  padding-top: 10px;
}
@media only screen and (max-width: 500px) {
  aside {
    display: none;
  }
}
aside.fixed {
  position: fixed;
  margin-left: 0;
}
aside .primary {
  line-height: 1.8em;
  margin-bottom: 10px;
}
aside .primary > a {
  padding-left: 5px;
  display: inline-block;
  font-weight: 700;
  width: 100%;
  line-height: 1.8em;
  border-left: 2px solid transparent;
  color: #3360A3;
}
aside .primary > a:hover, aside .primary.curr a {
  border-color: #3360A3;
  color: #3360A3;
}
aside .primary .sub {
  display: none;
}
aside .primary.curr .sub {
  display: block;
}
aside .primary .sub li a {
  padding-left: 15px;
  font-size: 12px;
  border-left: 1px solid transparent;
  width: 98%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #83b0f3;
}
aside .primary .sub li a:hover, aside .primary .sub li.curr a {
  border-color: #3360A3;
  color: #3360A3;
}
