<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="css/index.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <title>百度新闻</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <header class="clearfix">
            <div class="fl">
                <a href="" class="home"></a>
                <a href="" class="login"></a>
            </div>
            <div class="fr">
                <a href="" class="search"></a>
                <a href="" class="more"></a>
            </div>
        </header>
        <nav>
            <ul class="clearfix">
                <li class="curr"><span>推荐</span></li>
                <li><span>百家</span></li>
                <li><span>本地</span></li>
                <li><span>图片</span></li>
                <li><span>娱乐</span></li>
                <li><span>社会</span></li>
            </ul>
            <ul class="clearfix">
                <li><span>军事</span></li>
                <li><span>科技</span></li>
                <li class="internet"><span>互联网</span></li>
                <li><span>女人</span></li>
                <li><span>更多</span></li>
            </ul>
        </nav>
        <div class="news-wrap">
            <ul class="news-list">
            <%
        for(var i in newsList){
        %>
                <li class="clearfix">
                    <a href="" class="img-a fl"><img src="newsList[i]['imgPath']" alt=""></a>
                    <div class="title-wrap">
                        <a href="" class="title"><%= newsList[i]['title'] %></a>
                    </div>
                    <p>
                        <span class="time"><%= newsList[i]['time'] %></span>
                        <a href="" class="source fr"><%= newsList[i]['source'] %></a>
                    </p>
                </li>
        <%
        }
        %>
            </ul>
            <div class="click-for-more">点击加载更多</div>
        </div>
        <footer>
            <a href=""><span>意见反馈</span></a>
            <a href=""><span>应用推荐</span></a>
            <a href=""><span>客户端</span></a>
        </footer>
    </div>
    <script src="js/main.js" type="text/javascript"></script>
</body>
</html>